%navigation
{
    //font-family : sans-seriff;
    font-size : 20px;
    // Add Padding and or margin
}
// FIX IT
.selected
{
   @extend %navigation;
   font-weight: bold;
   color: #474747 !important;
}

.extra
{
    @extend %navigation;
    font-size : 15px;
    font-weight: normal;
}