/* Containers for navbar and flexboxes*/
.container
{
    display: flex;
    flex-wrap: wrap;
    color: "black";
}

.container > div
{
    background-color: #F8F9FA;
    margin: 5%;
    padding: 18%;
    width: 110%;
    font-size: 50px;
}

/* Containers for more flexboxes located at a different part of the website with different styling */
.container2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: "black";
}

.container2 > div
{
    background-color: #474747;
    padding: 1%;
    margin: 3%;
}

/* ID Selector to edit a specific photo */
#fam_photo
{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Selector applying to all of the body, adding a background color */
body
{
    background-color: #e2fff1;
}

/* Selector that changes font decoration when hovering */
a:hover
{
    text-decoration: none;
    color: #000000 !important;
}

/* Changes link color. The !important was taken from w3schools to give priority to this color for links */
.color
{
    color: #474747 !important;
}

/* Adjusts styling for columns on page 3 */
.col-2
{
    padding: 3%;
    background-color: #F8F9FA;
}

/* Changes styling for the table, headers, and data */
table, th, td
{
    margin-top: 3%;
    font-size: 18px;
    border: 1px solid black;
    padding: 11px;
}

/* Media Query adjusting font size based on the users screen size */
@media (min-width: 700px)
{
    table,th,td
    {
        font-size: 18px !important;
    }
}

@media (max-width: 699px)
{
    table,th,td
    {
        font-size: 14px !important;
    }
}

/* Adjusts title styling page 2 */
.title
{
    font-size: 23px;
    font-weight: bold;
    margin-top: 3%;
}