// Styles the table. Uses nesting to apply some properties across the board, and some properties to only parts.
div
{
    color: #474747;
    ol
    {
        font-weight: bold;
        font-size: 20px;
    }

    ul
    {
        font-size: 14px;
        font-weight: normal !important;
    }
}